# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
Frontend/node_modules
/.pnp
.pnp.js
Backend/GraphQLStack/bin
Backend/GraphQLStack/obj


# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
Backend/.vs/ProjectEvaluation/graphqlstack.projects.v5.2
Backend/.vs/ProjectEvaluation/graphqlstack.metadata.v5.2
Backend/.vs/GraphQLStack/v17/.suo
Backend/.vs/GraphQLStack/v17/.futdcache.v2
Backend/.vs/GraphQLStack/FileContentIndex/read.lock
Backend/.vs/GraphQLStack/FileContentIndex/ce1e1dc1-26a0-473a-9cee-af65986b50dd.vsidx
Backend/.vs/GraphQLStack/DesignTimeBuild/.dtbcache.v2
Backend/.vs/GraphQLStack/v17/.suo
Backend/.vs/GraphQLStack/DesignTimeBuild/.dtbcache.v2
